/*primary color*/
.bg-cream {
    background-color: #89f089;
}

/*font*/
body {
    font-family: "Poppins", sans-serif;
}

.bg-yellow-500 {
    background-color: #0c9e0c;
}
.bg-footer {
    background-color: #0c9e0c;
}
.secondary {
    background-color: #0c9e0c;
}
.primary {
    background-color: #020744;
}
.text-secondary {
    color: #0c9e0c;
}

.text-green-500 {
    color: #0c9e0c;
}

.bg-yellow-500:hover {
    background-color: #020744;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.text-darken {
    color: #2f327d;
}
